<p>Data Access Request</p>

<!DOCTYPE html>
<html>
  <body>
    <h2>Please fill in the form below and our DPO shall contact you within 5 working days</h2>

    <form action="../">
      <label for="name">Name:</label><br />
      <input type="text" id="name" /><br /><br />
      <label for="email">Email:</label><br />
      <input type="email" id="email" /><br /><br />
      <label for="request">Request:</label><br />
      <input type="textarea" id="request" /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
