<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-charity-user-heading"
        data-cy="CharityUserCreateUpdateHeading"
        jhiTranslate="teamprojectApp.charityUser.home.createOrEditLabel"
      >
        Create or edit a Charity User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.charityUser.charityName" for="field_charityName">Charity Name</label>
          <input
            type="text"
            class="form-control"
            name="charityName"
            id="field_charityName"
            data-cy="charityName"
            formControlName="charityName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.charityUser.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.charityUser.logoURL" for="field_logoURL">Logo URL</label>
          <input type="text" class="form-control" name="logoURL" id="field_logoURL" data-cy="logoURL" formControlName="logoURL" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.charityUser.website" for="field_website">Website</label>
          <input type="text" class="form-control" name="website" id="field_website" data-cy="website" formControlName="website" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.charityUser.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
