<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-rate-heading" data-cy="UserRateCreateUpdateHeading" jhiTranslate="teamprojectApp.userRate.home.createOrEditLabel">
        Create or edit a User Rate
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userRate.rateAsGiver" for="field_rateAsGiver">Rate As Giver</label>
          <input
            type="number"
            class="form-control"
            name="rateAsGiver"
            id="field_rateAsGiver"
            data-cy="rateAsGiver"
            formControlName="rateAsGiver"
          />
          <div *ngIf="editForm.get('rateAsGiver')!.invalid && (editForm.get('rateAsGiver')!.dirty || editForm.get('rateAsGiver')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rateAsGiver')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rateAsGiver')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rateAsGiver')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be more than 10.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('rateAsGiver')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userRate.rateAsReceiver" for="field_rateAsReceiver"
            >Rate As Receiver</label
          >
          <input
            type="number"
            class="form-control"
            name="rateAsReceiver"
            id="field_rateAsReceiver"
            data-cy="rateAsReceiver"
            formControlName="rateAsReceiver"
          />
          <div
            *ngIf="
              editForm.get('rateAsReceiver')!.invalid && (editForm.get('rateAsReceiver')!.dirty || editForm.get('rateAsReceiver')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rateAsReceiver')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rateAsReceiver')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('rateAsReceiver')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be more than 10.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('rateAsReceiver')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="teamprojectApp.userRate.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['user'])!.invalid && (editForm.get(['user'])!.dirty || editForm.get(['user'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['user'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
