<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-indent: 0px;
    text-decoration: none;
    text-align: center;
  "
>
  <strong
    ><span style="font-size: 21px; line-height: 22.826668px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
      >FREEBEES Cookies Notice&nbsp;</span
    ></strong
  ><strong
    ><span style="font-size: 21px; line-height: 22.826668px; font-family: 'PingFang TC', sans-serif; color: rgb(89, 89, 89)"></span
  ></strong>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-indent: 0px;
    text-decoration: none;
    text-align: center;
  "
>
  <strong
    ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
      >Last updated&nbsp;March 15, 2023</span
    ></strong
  >
</p>
<div
  style="
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
  "
>
  <h3
    style="
      margin-top: 12pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 61.2pt;
      text-indent: -25.2pt;
      font-size: 17px;
      font-family: 'Calibri Light', sans-serif;
      color: #2f5496;
      font-weight: normal;
    "
  >
    1.&nbsp;HOW DO WE USE COOKIES?
  </h3>
</div>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: medium;
    font-family: 'Times New Roman', serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 107%;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
    background-color: white;
  "
>
  <span style="font-size: 14px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >Our Organisation uses cookies in a range of ways to improve your experience on our website, including:</span
  >
</p>
<ul
  style="
    margin-bottom: 0cm;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
  type="square"
>
  <li
    style="
      margin-top: 0cm;
      margin-right: 0cm;
      margin-bottom: 8pt;
      margin-left: 0cm;
      line-height: normal;
      font-size: 15px;
      font-family: 'Calibri', sans-serif;
      color: #595959;
    "
  >
    <span style="font-size: 14px; font-family: Arial, sans-serif">Keeping you signed in</span>
  </li>
  <li
    style="
      margin-top: 0cm;
      margin-right: 0cm;
      margin-bottom: 8pt;
      margin-left: 0cm;
      line-height: normal;
      font-size: 15px;
      font-family: 'Calibri', sans-serif;
      color: #595959;
    "
  >
    <span style="font-size: 14px; font-family: Arial, sans-serif">Understanding how you use our website</span>
  </li>
</ul>
<div
  style="
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
  "
>
  <h3
    style="
      margin-top: 12pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 61.2pt;
      text-indent: -25.2pt;
      font-size: 17px;
      font-family: 'Calibri Light', sans-serif;
      color: #2f5496;
      font-weight: normal;
      background: white;
    "
  >
    2.&nbsp;WHAT TYPES OF COOKIES DO WE USE?
  </h3>
</div>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: medium;
    font-family: 'Times New Roman', serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 107%;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
    background-color: white;
  "
>
  <span style="font-size: 14px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >There are a number of different types of cookies, however, our website uses:</span
  >
</p>
<ul
  style="
    margin-bottom: 0cm;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
  type="square"
>
  <li
    style="
      margin-top: 0cm;
      margin-right: 0cm;
      margin-bottom: 8pt;
      margin-left: 0cm;
      line-height: normal;
      font-size: 15px;
      font-family: 'Calibri', sans-serif;
      color: #595959;
    "
  >
    <strong><span style="font-size: 14px; font-family: Arial, sans-serif">Functionality</span></strong
    ><span style="font-size: 14px; font-family: Arial, sans-serif">&nbsp;&ndash; Our&nbsp;</span
    ><span style="font-size: 14px; font-family: Arial, sans-serif">website&nbsp;</span
    ><span style="font-size: 14px; font-family: Arial, sans-serif"
      >uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include
      what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</span
    >
  </li>
  <li
    style="
      margin-top: 0cm;
      margin-right: 0cm;
      margin-bottom: 8pt;
      margin-left: 0cm;
      line-height: normal;
      font-size: 15px;
      font-family: 'Calibri', sans-serif;
      color: #595959;
    "
  >
    <strong><span style="font-size: 14px; font-family: Arial, sans-serif">Advertising</span></strong
    ><span style="font-size: 14px; font-family: Arial, sans-serif">&nbsp;&ndash; Our website are not using advertising cookies</span>
  </li>
</ul>
<div
  style="
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
  "
>
  <h3
    style="
      margin-top: 12pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 61.2pt;
      text-indent: -25.2pt;
      font-size: 17px;
      font-family: 'Calibri Light', sans-serif;
      color: #2f5496;
      font-weight: normal;
    "
  >
    3.&nbsp;HOW TO MANAGE COOKIES?
  </h3>
</div>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: medium;
    font-family: 'Times New Roman', serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 107%;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
    background-color: white;
  "
>
  <span style="font-size: 14px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
    few cases, some of our website features may not function as a result.</span
  >
</p>
<div
  style="
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
  "
>
  <h3
    style="
      margin-top: 12pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 61.2pt;
      text-indent: -25.2pt;
      font-size: 17px;
      font-family: 'Calibri Light', sans-serif;
      color: #2f5496;
      font-weight: normal;
    "
  >
    4.&nbsp;COOKIES AND SIMILAR TECHNOLOGIES
  </h3>
</div>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  &nbsp;
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and
    to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Services. To
    opt out of interest-based advertising by advertisers on our Services visit&nbsp;</span
  ><a href="http://www.aboutads.info/choices/" style="color: rgb(149, 79, 114); text-decoration: underline" target="_blank"
    ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(48, 48, 241)"
      >http://www.aboutads.info/choices/</span
    ></a
  ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">.&nbsp;</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >If you have questions or comments about your privacy rights, you may email us at&nbsp;</span
  ><a href="http://puzzled.sequins_0s@icloud.com/" style="color: rgb(149, 79, 114); text-decoration: underline"
    ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif">puzzled.sequins_0s@icloud.com</span></a
  ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">.</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-family: -webkit-standard, serif; color: black">&nbsp;</span>
</p>
<div
  style="
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
  "
>
  <h3
    style="
      margin-top: 12pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 61.2pt;
      text-indent: -25.2pt;
      font-size: 17px;
      font-family: 'Calibri Light', sans-serif;
      color: #2f5496;
      font-weight: normal;
    "
  >
    5.&nbsp;DO WE MAKE UPDATES TO THIS NOTICE?
  </h3>
</div>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-family: -webkit-standard, serif; color: black">&nbsp;</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <strong
    ><em
      ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
        >In Short:&nbsp;</span
      ></em
    ></strong
  ><em
    ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
      >Yes, we will update this notice as necessary to stay compliant with relevant laws.</span
    ></em
  >
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-family: -webkit-standard, serif; color: black">&nbsp;</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >We may update this privacy notice from time to time. The updated version will be indicated by an
    updated&nbsp;&apos;Revised&apos;&nbsp;date and the updated version will be effective as soon as it is accessible. If we make material
    changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a
    notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.</span
  >
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-family: -webkit-standard, serif; color: black">&nbsp;</span>
</p>
<div
  style="
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
  "
>
  <h3
    style="
      margin-top: 12pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 61.2pt;
      text-indent: -25.2pt;
      font-size: 17px;
      font-family: 'Calibri Light', sans-serif;
      color: #2f5496;
      font-weight: normal;
    "
  >
    6.&nbsp;HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
  </h3>
</div>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-family: -webkit-standard, serif; color: black">&nbsp;</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >If you have questions or comments about this notice, you may contact our Data Protection Officer (DPO), ML CHEUNG, by email
    at&nbsp;</span
  ><a href="mailto:puzzled.sequins_0s@icloud.com" style="color: rgb(149, 79, 114); text-decoration: underline"
    ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif">puzzled.sequins_0s@icloud.com</span></a
  ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">&nbsp;or by post to:</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-family: -webkit-standard, serif; color: black">&nbsp;</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">Freebee</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">ML CHEUNG</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >University of Birmingham</span
  >
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">Birmingham</span
  ><span style="font-size: 15px; line-height: 16.406666px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">&nbsp;B15 2TT</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 15px; line-height: 16.406666px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">United Kingdom</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-family: -webkit-standard, serif; color: black">&nbsp;</span>
</p>
<div
  style="
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8pt;
    margin-left: 0cm;
    line-height: 107%;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
  "
>
  <h3
    style="
      margin-top: 12pt;
      margin-right: 0cm;
      margin-bottom: 0cm;
      margin-left: 61.2pt;
      text-indent: -25.2pt;
      font-size: 17px;
      font-family: 'Calibri Light', sans-serif;
      color: #2f5496;
      font-weight: normal;
    "
  >
    7.&nbsp;HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?
  </h3>
</div>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-family: -webkit-standard, serif; color: black">&nbsp;</span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)"
    >Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you,
    change that information, or delete it. To request to review, update, or delete your personal information, please visit:&nbsp;</span
  ><a href="https://freebees.bham.team/data-request" style="color: rgb(149, 79, 114); text-decoration: underline"
    ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif">https://freebees.bham.team/data-request</span></a
  ><span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(89, 89, 89)">.</span>
</p>
<p>
  <span
    style="
      font-style: normal;
      font-weight: 400;
      text-indent: 0px;
      text-decoration: none;
      font-size: 14px;
      line-height: 14.98px;
      font-family: Arial, sans-serif;
      color: rgb(52, 52, 52);
      background-color: white;
    "
    ><br
  /></span>
</p>
<p
  style="
    margin-right: 0cm;
    margin-left: 0cm;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    margin-top: 0cm;
    margin-bottom: 8pt;
    line-height: 15.693334px;
    margin: 0cm 0cm 8pt;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    text-align: start;
    text-indent: 0px;
    text-decoration: none;
  "
>
  <span style="font-size: 14px; line-height: 14.98px; font-family: Arial, sans-serif; color: rgb(52, 52, 52); background-color: white"
    >&nbsp;</span
  >
</p>
