<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userRate">
      <h2 data-cy="userRateDetailsHeading"><span jhiTranslate="teamprojectApp.userRate.detail.title">User Rate</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userRate.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.userRate.rateAsGiver">Rate As Giver</span></dt>
        <dd>
          <span>{{ userRate.rateAsGiver }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.userRate.rateAsReceiver">Rate As Receiver</span></dt>
        <dd>
          <span>{{ userRate.rateAsReceiver }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.userRate.user">User</span></dt>
        <dd>
          <span>{{ userRate.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-rate', userRate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
