<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="charityUser">
      <h2 data-cy="charityUserDetailsHeading"><span jhiTranslate="teamprojectApp.charityUser.detail.title">Charity User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ charityUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.charityUser.charityName">Charity Name</span></dt>
        <dd>
          <span>{{ charityUser.charityName }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.charityUser.description">Description</span></dt>
        <dd>
          <span>{{ charityUser.description }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.charityUser.logoURL">Logo URL</span></dt>
        <dd>
          <span>{{ charityUser.logoURL }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.charityUser.website">Website</span></dt>
        <dd>
          <span>{{ charityUser.website }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.charityUser.user">User</span></dt>
        <dd>
          <span>{{ charityUser.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/charity-user', charityUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
