<!-- <div class="container"> -->
<!-- <div class="leftContainer">
    <img class="mainImage" src="../../content/images/homeImage.jpg" />
  </div> -->

<div class="rightContainer">
  <div class="firstLine">
    <img class="logo" src="../../content/images/logos/png/Freebees.png" />
    <h1 class="mainTitle">Welcome to Freebees</h1>
  </div>

  <h2 class="subtext">Our app's goal is to minimize waste and to help others with what you don't need.</h2>

  <div class="elements">
    <h3>Problem Statement</h3>
    <p>
      Every year, thousands of students temporarily resided in the local neighborhood departing from the University of Birmingham must get
      rid of used items and furniture as they are not able to carry these items home. As a result, loads of used goods and furniture, along
      with other waste, were left on the street during summer. Local neighborhood Selly Oak, for instance, has been mocked as “Smelly Oak”
      as terrible smell evolved during July heats.
    </p>
  </div>

  <div class="elements">
    <h3>About Us</h3>
    <p>We are Freebees, a group of Computer Science Students at the University of Birmingham.</p>
    <p>
      As software engineers, we strive to provide software solutions that could address real world issue as outlined above. By producing a
      web app that aids the community to give used items a second life for free, we hope to achieve: (1) Reducing waste, (2) Promoting
      sustainability, and (3) Lessening cost-of-living.
    </p>
  </div>

  <div class="elements">
    <h3>Helping our communities</h3>
    <p>We designed FreeBees with the goal of making the world a better place.</p>

    <h4>UNESCO Sustainability goals</h4>
    <ol>
      <li>Sustainable cities and communities (Goal 11)</li>
      <li>Responsible consumption and production (Goal 12)</li>
      <li>Climate Action (Goal 13)</li>
      <li>No poverty (Goal 1)</li>
    </ol>
  </div>
</div>
<!-- </div> -->
