<div>
  <h2 id="page-heading" data-cy="RateRecordHeading">
    <span jhiTranslate="teamprojectApp.rateRecord.home.title">Rate Records</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.rateRecord.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rate-record"
        [routerLink]="['/rate-record/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.rateRecord.home.createLabel"> Create a new Rate Record </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rateRecords?.length === 0">
    <span jhiTranslate="teamprojectApp.rateRecord.home.notFound">No Rate Records found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="rateRecords && rateRecords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rateValue">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.rateRecord.rateValue">Rate Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rater.login">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.rateRecord.rater">Rater</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ratee.login">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.rateRecord.ratee">Ratee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="handoffRef.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.rateRecord.handoffRef">Handoff Ref</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rateRecord of rateRecords; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rate-record', rateRecord.id, 'view']">{{ rateRecord.id }}</a>
          </td>
          <td>{{ rateRecord.rateValue }}</td>
          <td>
            {{ rateRecord.rater?.login }}
          </td>
          <td>
            {{ rateRecord.ratee?.login }}
          </td>
          <td>
            <div *ngIf="rateRecord.handoffRef">
              <a [routerLink]="['/handoff', rateRecord.handoffRef.id, 'view']">{{ rateRecord.handoffRef.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/rate-record', rateRecord.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/rate-record', rateRecord.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(rateRecord)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
