<div style="margin: 20px">
  <div class="d-flex align-items-center">
    <input class="flex-grow-1 rounded-pill me-2" type="text" [(ngModel)]="searchQuery" name="first" placeholder="Search items..." />

    <button class="btn btn-info me-2" (click)="searchItems()">Search</button>

    <button class="btn btn-info me-2" (click)="openPopup()">Filter</button>

    <button class="btn btn-info me-2" (click)="openPopup()">Map View</button>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayStyle }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Filter by...</h4>
          </div>
          <div class="modal-body">
            <p>
              Tags:
              <input class="flex-grow-1 rounded-pill me-2" type="text" [(ngModel)]="searchQueries[0]" name="tagBar" placeholder="Tag..." />
              <br /><br />
              Owner:
              <input
                class="flex-grow-1 rounded-pill me-2"
                type="text"
                [(ngModel)]="searchQueries[1]"
                name="ownerBar"
                placeholder="Owner..."
              />
              <br /><br />
              Postcode:
              <input
                class="flex-grow-1 rounded-pill me-2"
                type="text"
                [(ngModel)]="searchQueries[2]"
                name="postcodeBar"
                placeholder="Postcode..."
              />
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
            <button type="button" class="btn btn-info me-2" (click)="filterBy()">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- All the commented code below is for NavBar options that were here before and that I didn't want to completely delete because they have usefull feature we might want to use in the future. -->

  <!-- <div class="d-flex justify-content-between">

      <form class="d-flex align-item-center">
        <input type="text" [(ngModel)]="searchQuery" name="first" placeholder="Search items...">
        <button type="button" (click)="searchItems()" >Search</button>
      </form>

      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.item.home.refreshListLabel">Refresh list</span>
      </button>

    </div> -->

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div style="margin-top: 10px" class="alert alert-warning" id="no-result" *ngIf="items?.length === 0 || filteredItems?.length === 0">
    <span jhiTranslate="teamprojectApp.item.home.notFound">No Items found</span>
  </div>

  <div class="grid-container" id="entities" *ngIf="items && items.length > 0">
    <div class="grid-item" *ngFor="let item of filteredItems; trackBy: trackId">
      <div class="grid-item-image">
        <a *ngIf="item.image" (click)="openFile(item.image, item.imageContentType)">
          <img [src]="'data:' + item.imageContentType + ';base64,' + item.image" alt="item image" />
        </a>
      </div>

      <div class="grid-item-text-fields">
        <div><span style="font-weight: bold">Title: </span>{{ item.title }}</div>
        <div><span style="font-weight: bold">Description: </span><br />{{ item.description }}</div>
        <div><span style="font-weight: bold">Owner: </span> {{ item.user?.login }}</div>

        <div>
          <span *ngFor="let tag of item.tags; let last = last">
            <a class="form-control-static" [routerLink]="['/tag', tag.id, 'view']">{{ tag.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </div>

        <button class="btn btn-primary" [routerLink]="['/item', item.id, 'view']">Learn More</button>
      </div>
    </div>
  </div>
</div>
